<!--<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar main-sidebar" id="sidebar">
    <ul class="nav flex-column">

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['']">
                <i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp; Dashboard
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/forms']">
                <i class="fa fa-code" aria-hidden="true"></i> &nbsp; Forms
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-line-chart" aria-hidden="true"></i> &nbsp; Charts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doesnotexists">
                <i class="fa fa-download" aria-hidden="true"></i> &nbsp; Export
            </a>
        </li>
    </ul>
</nav>-->



<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: 700px;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <i class="fa fa-circle text-success"></i>
            </div>
            <div class="pull-left info">
                <p>Saurabh Wanjari</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>





            <li class=" active treeview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['']">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp; Dashboard
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/myapp']">
                    <i class="fa fa-circle-o text-yellow" aria-hidden="true"></i> MyApp
                </a>
            </li>



            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/forms']">
                    <i class="fa fa-circle-o text-red" aria-hidden="true"></i> &nbsp; Forms
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-line-chart text-green" aria-hidden="true"></i> &nbsp; Charts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/doesnotexists">
                    <i class="fa fa-download text-aqua" aria-hidden="true"></i> &nbsp; Export
                </a>
            </li>
            <!--<li class="nav-item">
                <i class="fa fa-arrow-circle-right text-red"></i>
            </li>
            <li class="nav-item">
                <p class="nav-link"><i class="fa fa-arrow-circle-right text-yellow"></i></p>
            </li>
            <li class="nav-item">
                <i class="fa fa-user text-orange"></i>
            </li>
            <li class="nav-item">
                <i class="fa fa-arrow-circle-right text-pink"></i>
            </li>-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>